@page "/employeedetail/{EmployId}"
@inherits EmployeeDatailBase

<h3>EmployeeDatail</h3>

<div>
    <div>@Employee.Id</div>
    <div>@this.Employee.Name</div>
    <div>@this.Employee.No</div>
    <div>@this.Employee.PictureUrl</div>
    <div>@this.Employee.BirthDate</div>
</div>

